@font-face {
    font-family: 'Josefin Sans';
    src: url(fonts/Josefin_Sans/static/JosefinSans-Bold.ttf);
}

@font-face {
    font-family: 'ADLaM_Display';
    src: url(fonts/ADLaM_Display/ADLaMDisplay-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --azul_ludify: #203072;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    width: 100vh;
    
    background: rgb(19,21,33);
    background: linear-gradient(180deg, rgba(19,21,33,1) 72%, rgba(78,86,135,1) 100%);
    background-attachment: fixed;
}

.container_grid {
    width: 90vw;
    max-width: 1400px;

    margin: 0 auto;
}

.banner {
    height: 100%;
    width: 100vw;

    background-image: url(img/Background.png);
    background-repeat: no-repeat;

    background-position: 50% 100%;
    background-size: 95%;
}

header {
    height: 90px;

    background-color: #23283E;
}

header div.container_grid {
    height: 100%;

    display: flex;
    align-items: center;
}

header nav {
    margin: 0 auto;
}

.menu {
    width: 1000px;

    display: flex;
    justify-content: space-between;
    align-self: center;
}


#Logo {
    width: 170px;
}

.menu a{
    font-size: 27px;
    font-family: 'Josefin Sans';

    text-decoration: underline transparent;
    text-decoration-thickness: 2px;
    transition: text-decoration 300ms ease;

    color: #fff;
}

.menu a:hover {
    text-decoration-color: white;
}

.conteudo_banner {
    width: 100%;

    margin-top: 40px;

    display: flex;
    justify-content: space-around;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--azul_ludify);
    opacity: 0.8;

    padding: 20px;
    margin-bottom: 20px;

    border-radius: 20px;
}

h2 {
    font-family: 'Josefin Sans';
    font-size: 27px
}

p {
    font-family: 'ADLaM_Display';
}

.card h2 {
    margin-bottom: 30px;
}

.card:first-child {
    margin-top: 20px;
    height: 600px;
    width: 550px;
}

.card:last-child {
    height: 700px;
    width: 680px;
}