@font-face {
    font-family: 'Josefin Sans';
    src: url(fonts/Josefin_Sans/static/JosefinSans-Bold.ttf);
}

@font-face {
    font-family: 'ADLaM_Display';
    src: url(fonts/ADLaM_Display/ADLaMDisplay-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --azul_ludify: #203072;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
    width: 100%;

    background: rgb(19, 21, 33);
    background: linear-gradient(180deg, rgba(19, 21, 33, 1) 72%, rgba(78, 86, 135, 1) 100%);
    background-attachment: fixed;
}

.container_grid {
    width: 90vw;
    max-width: 1400px;

    margin: 0 auto;
}

.banner {
    height: 900px;

    background-image: url(img/Background.png);
    background-repeat: no-repeat;

    background-size: contain;
    background-position: 0% 50%;
}

header {
    height: 90px;

    background-color: #23283E;
}

header div.container_grid {
    height: 100%;

    display: flex;
    align-items: center;
}

header nav {
    margin: 0 auto;
}

.menu {
    width: 1000px;

    display: flex;
    justify-content: space-between;
    align-self: center;
}

#Logo {
    width: 170px;
}

.menu a {
    font-size: 35px;
    font-family: 'Josefin Sans';

    text-decoration: underline transparent;
    text-decoration-thickness: 2px;
    transition: text-decoration 300ms ease;

    color: #fff;
}

.menu a:hover {
    text-decoration-color: white;
}

.conteudo_banner {
    width: 100%;
    height: calc(100vh - 280px);

    margin-top: 40px;

    display: flex;
    justify-content: space-around;
}

.card {
    display: flex;
    align-items: center;

    background-color: rgba(32, 48, 114, 0.7);

    padding: 20px;
    margin-bottom: 20px;

    border-radius: 45px;

    backdrop-filter: blur(8px);

    box-shadow: 0px 0px 15px 7px rgba(59, 68, 104, 0.3);
}

h2 {
    font-family: 'Josefin Sans';
    font-size: 32px;
    color: #fff
}

p {
    font-family: 'ADLaM_Display';
    font-size: 20px;

    color: #fff;

    padding: 7px;

    text-align: center;
}

.card h2 {
    margin-bottom: 20px;
}

.card:first-child {
    margin-top: 20px;
    height: 630px;
    width: 530px;

    flex-direction: column;
}

.card:last-child {
    height: 700px;
    width: 690px;
}

#Criadores {
    display: flex;
    flex-direction: column;
}

.descricao_criadores {
    display: flex;
    flex-direction: row;
}

.descricao_criadores .felipe_tadeu,
.thiago_nascimento {
    max-width: 270px;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

.descricao_criadores img {
    width: 200px;

    margin-bottom: 15px;
}

.descricao_criadores p {
    font-size: 17px;
}

.descricao_criadores div h2 {
    font-size: 24px;
}

#cases {
    width: 100%;
    height: 700px;

    margin-top: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}
